VITE_SUPABASE_URL=https://xaldcqsnhhkvjgnyyuyl.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_RxV5ev_-p5ty754Rcz1m4g_dBAF0W30

# NEXT_PUBLIC_SUPABASE_URL=https://ymtuviuuyqkizuvrtvos.supabase.co
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0n-gGbeJn2nWxXgSrkaaCA_rUhPwbRR

# NEXT_PUBLIC_SUPABASE_URL=https://xaldcqsnhhkvjgnyyuyl.supabase.co
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_RxV5ev_-p5ty754Rcz1m4g_dBAF0W30